h4 {
    margin-left: 10%;
    margin-top:2%
}
p {
    margin-left:10%;
    margin-top:1%;
    margin-right:35%;
}
img {
    border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
    width:20%;
    align-self: flex-start;
}
