.homehb {  /*Green banner*/
    margin-top:25px;
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(127.96927481889725, 158.31250101327896, 130.66644608974457, 1);
    height: 70px;
}
.navborder { /*Nav bar sizing/positioning/background*/
	border:8px solid rgba(128.0000075697899, 158.00000578165054, 131.00000739097595, 1);
    margin-top:10px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.navround {
    border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:3px;
	border-bottom-right-radius:3px;
}
header {
	background-image: url(../images/cloud.png), url(../images/cloud.png);
	background-position-x: 5%, 95%;
	background-size: 20%;
	background-repeat:no-repeat;
	background-color: rgb(182,212,189)
}
