.formbox {
    background-color:white;
    width: 25%;
    height: 25%;
}
.formtitle {
    border:8px solid rgba(128.0000075697899, 158.00000578165054, 131.00000739097595, 1);
    background-color:rgb(182,212,189);
    color:white;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
    padding-left: 25%;
    padding-right: 25%;
}
.formtitle:hover {
    background-color:rgb(75, 125, 86);
    border-color:rgb(85, 152, 91);
}
