body,article {
    background-color: rgba(182.39583671092987, 212.4999949336052, 189.01875972747803, 1);
    text-align: center;
}
.card-img-top{
border: rgba(127.96927481889725, 158.31250101327896, 130.66644608974457, 1) solid 5px;
}
.card-body{
    border:rgba(127.96927481889725, 158.31250101327896, 130.66644608974457, 1) solid 5px;
    background-color: rgba(182.39583671092987, 212.4999949336052, 189.01875972747803, 1);
    border-top: none;

    
}
.boxcaption{
    height: 40px;
    bottom: 0;
    color: rgb(255, 255, 255);
    font-weight: bold;
    background-color: rgba(127.96927481889725, 158.31250101327896, 130.66644608974457, 1);
    padding:0.5em;
    border-top-left-radius:9px;
	border-top-right-radius:9px;
	border-bottom-left-radius:9px;
	border-bottom-right-radius:9px;
}
.button {
    border: solid 1px;
    border-color: rgba(127.96927481889725, 158.31250101327896, 130.66644608974457, 1);
    color: white;
    background-color: rgba(127.96927481889725, 158.31250101327896, 130.66644608974457, 1);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-top-left-radius:9px;
	border-top-right-radius:9px;
	border-bottom-left-radius:9px;
	border-bottom-right-radius:9px;
  }
  .button:hover {
    background-color: white;
    color: gray;
  }
.col-5{
    width: 50px;
    align-content: center;
}