
  .row {
    background: #f8f9fa;
    margin-top: 20px;
  }
  
  .col {
    border: solid 1px #6c757d;
    padding: 10px;
  }
  
  .card-deck .card {
    flex-basis: 100%;
  }
  
  @media (min-width: 576px) {
    .card-deck .card {
      flex-basis: calc(50% - 30px);
    }
  }
  
  @media (min-width: 768px) {
    .card-deck .card {
      flex-basis: calc(33.33% - 30px);
    }
  }
  
  @media (min-width: 992px) {
    .card-deck .card {
      flex-basis: calc(25% - 30px);
    }
  }
  