/* Styles for the main container */
.main-container {
  width: 1440px;
  height: 1024px;
  position: absolute;
  background: #B6D4BD;
}

/* Styles for the "Categories" heading */
.categories-heading {
  width: 321.80px;
  left: 91px;
  top: 234px;
  position: absolute;
  color: white;
  font-size: 48px;
  font-family: Abel;
  font-weight: 400;
  word-wrap: break-word;
}

/* Styles for the category background divs */
.category-background {
  width: 205px;
  height: 61px;
  position: absolute;
  background: #809E83;
  z-index: auto;
}

/* Styles for the category headings */
.category-heading {
  width: 205px;
  height: 64px;
  position: absolute;
  color: white;
  font-size: 48px;
  font-family: Abel;
  font-weight: 400;
  word-wrap: break-word;
  z-index: auto;
}

/* Styles for the background divs in "Recently Viewed" */
.recently-viewed-containerc {
  width: 278px;
  height: 277px;
  position: absolute;
  background: #D9D9D9;
}
.recently-viewed-container {
  width: 1283px;
  height: 381px;
  left: 78px;
  top: 400px;
  position: absolute;
}

/* Styles for the headings in "Recently Viewed" */
.recently-viewed-heading {
  color: white;
  font-size: 48px;
  font-family: Abel;
  font-weight: 400;
  word-wrap: break-word;
}
